# General
.DS_Store
.env
.python-version
.user_env.*

# IDE / Editor
.idea/
.vscode/
.vim
.yarn/

# Python
*.py[cod]
*.pyd
*.pdb
__pycache__/
.venv*/
.hypothesis/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
coverage.*
profile.json
*.egg-info/
.maturin/

# Notebooks
*.ipynb
.ipynb_checkpoints/

# Rust
target/
*.so
*.ptx
*.cubin

# Data files
*.csv
*.parquet
*.feather
*.tbl

# Project-specific
/docs/assets/data/
/docs/assets/people.md
